.item{
    width: 300px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

}
.item img{
    width:90%;
    border-radius: 6px;
   
}
.item p{
    margin:6px 0px;
    width: 90%;
}

.item-prices{
    display: flex;
    gap:20px;
}

.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;

}

.item-price-old{
    color:#8c8c8c ;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}